.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    position: relative;
}
.logo{
    position: absolute;
    left: 20px;
    top: 20px;
}
.kentiki{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    position: absolute;
    top: 10px;
    right: 20px;
}
.input_header{
    box-sizing: border-box;
    border: 3px solid rgb(54, 71, 43);
    border-radius: 33px;
    width: 223px;
    height: 60px;
    position: relative;
    background-color: #e8e8e8;
    z-index: 1;
}
.white{
    filter: brightness(0) invert(1); /* Белый цвет */
}
.inputtt{
    position: relative;
}
.inputtt::after{
    position: absolute;
    content: '';
    right: 20px;
    top: 50%;
    width: 35px;
    height: 35px;
    transform: translateY(-50%);
    background-image: url("../../public/значок.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% ;
    z-index: 2;

}
.burger_checkbox {
    position: absolute;
    visibility: hidden;
    display: none;
    width: 0;
    height: 0;
}
.burger {
    cursor: pointer;
    display: block;
    position: relative;
    border: none;
    background: transparent;
    width: 40px;
    height: 26px;
    margin: 30px auto;
}
.burger::before,
.burger::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 10px;
    background: #000;
}
.burger::before {
    top: 0;
    box-shadow: 0 11px 0 #000;
    transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}
.burger::after {
    bottom: 0;
    transition: bottom .3s .15s, transform .3s;
}
.burger_checkbox:checked + .burger::before {
    top: 11px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgba(0,0,0,0);
    transition: box-shadow .15s, top .3s, transform .3s .15s;
}
.burger_checkbox:checked + .burger::after {
    bottom: 11px;
    transform: rotate(-45deg);
    transition: bottom .3s, transform .3s .15s;
}
/*header*/


.hi{
    /*height: 1117px;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 178px;
    padding-left: 178px;
}

.hi_title{
    color: rgb(54, 71, 43);
    font-family: Poppins;
    font-size: 96px;
    font-weight: 500;
    line-height: 144px;
    letter-spacing: 0%;
    text-align: left;
}
.BURGERRR{
    position: relative;
    top: 2px;
}
.df{
    display: flex;
    align-items: center;
}
.link_none{
    text-decoration: none;
    color: #36472b;
}
.link_nonee{
    text-decoration: none;
    color: #e8e8e8;
}

.bynow, .aboutusbutton{
    position: relative;
    width: 172px;
    height: 70px;
    /* Автолейаут */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 35px 16px 35px;
    border-radius: 35px;
    color: rgb(232, 232, 232);
    background-color: #36472b;

    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    white-space: nowrap;
    border: none;
    margin-right: 50px;

    cursor: pointer;
    border: 3px solid #36472b;
transition: .2s ease-in-out;

}
.aboutusbutton{
    background-color: rgb(232, 232, 232);
    color:  #36472b;
    border: 3px solid #36472b;

}
.bynow:hover{

    -webkit-box-shadow: 0px 0px 8px 5px rgba(54, 71, 43, 0.53);
    -moz-box-shadow: 0px 0px 8px 5px rgba(54, 71, 43, 0.53);
    box-shadow: 0px 0px 8px 5px rgba(54, 71, 43, 0.53);
}
.aboutusbutton:hover{
    background-color:  #36472b;
    color:  rgb(232, 232, 232);
    border: 3px solid rgb(232, 232, 232);
}
.aboutusbutton:hover .link_none{
    color:  rgb(232, 232, 232);
}
.hi_back{
    position: relative;
top: -12px;
    width: 858px;
    height: 1069px;
    background-image: url("../../public/монстерра.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.about_button{
    display: flex;
    align-items: center;
    transition: .3s ease-in-out;
}
.about_button:hover .p{
    margin-left: 10px;
}
.p{
    display: inline-block;
    margin-top: 28px;
    transition: .3s ease-in-out;
}
.about_us{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 178px;
    padding-left: 178px;
}
.about_ud_back{
    width: 590px;
    height: 887px;
    background-image: url("../../public/polochka.png");
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 100%;
}
.about_us_textblock{
    max-width: 590px;
}
.about_h1{
    color: rgb(54, 71, 43);
    font-family: Poppins;
    font-size: 96px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 0;
}
.about_h4{
    color: rgb(54, 71, 43);
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 60px;
}
.about_button{
    box-sizing: border-box;
    border: 3px solid rgb(54, 71, 43);
    border-radius: 35px;
    width: 238px;
    height: 68px;
    padding: 16px 35px 16px 35px;

    color: rgb(54, 71, 43);
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    cursor: pointer;
    right: 50%;
    transform: translateX(70%);
    background-color: rgb(232, 232, 232);
    white-space: nowrap;
}
.number_back{
    width: 590px;
    height: 887px;
    background-image: url("../../public/green wall pic.png");
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 100%;
}
.number{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-right: 178px;
    padding-left: 301px;
}
.list{
    list-style: none;
    margin: 0 auto
;
    text-align: center;
    max-width: 590px;

}
.list_li{

}
.list_div{
}
.contact_us{
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding-right: 330px;
    padding-left: 330px;
    padding-bottom: 312px;
    position: relative;
    z-index: 2;

}
.contact{
    position: relative;
    margin-top: 110px;
}
.contact:after{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 629.27px;
    content: '';
    background-image: url("../../public/plants pic.png");
    background-size: 100% 100% ;
    background-position: center;
    background-repeat: no-repeat;
z-index: 1;

}
.contact:before{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 189.27px;
    content: '';
    background: linear-gradient(0.00deg, rgba(232, 232, 232, 0.6),rgba(54, 71, 43, 0) 90%);
    background-size: 100% 100% ;
    background-position: center;
    background-repeat: no-repeat;
z-index: 0;

}
.number_h1{
    color: rgb(54, 71, 43);
    font-family: Poppins;
    font-size: 96px;
    font-weight: 500;
    line-height: 80px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 0px;
}
.number_h3{
    color: rgb(54, 71, 43);
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 0;
}
.text_contact{
    color: rgb(232, 232, 232);
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
    border: 2px solid rgb(232, 232, 232);
    width: 100%;
    height: 120px;
    margin: 0 auto  ;
    display: flex; /* Включаем Flexbox */
    justify-content: center; /* Горизонтальное выравнивание */
    align-items: center; /* Вертикальное выравнивание */
}
.contact{
    background: rgb(54, 71, 43);
}
.contact:after{
}
.contact_h1{
    color: rgb(232, 232, 232);
    font-family: Poppins;
    font-size: 96px;
    font-weight: 500;
    line-height: 144px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
    position: relative;

    margin-bottom: 100px;
    padding-top: 100px;

}
.text_contact_mini{
    color: rgb(232, 232, 232);
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.input_gayt{
    width: 580px;
    position: relative;
}
.text_asdfa{
    width: 580px;

}
.input_contact{
    position: relative;
    display: block;
    width: 100%;
    height: 120px;
    border: 2px solid rgb(232, 232, 232) ;
    background: transparent;
    outline: none;
}
.input_contact::placeholder{
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    position: relative;
    top: 5px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.5;
    padding-left: 30px;
}
.send{
    width: 101.4%;
    height: 120px;
    background: rgb(232, 232, 232);
    display: flex; /* Включаем Flexbox */
    justify-content: end; /* Горизонтальное выравнивание */
    align-items: center; /* Вертикальное выравнивание */
    padding-right: 30px;

    color: rgb(54, 71, 43);
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    position: relative;
    top: -1px;
    outline: none;
    border: 3px solid rgb(232, 232, 232);
}
.link{
    color: rgb(255, 255, 255);
}
.footer_text_center_center{
    position: absolute;
    right: 50%;
    top: 0px;
    transform: translateX(50%);
}
.footer{
    padding-top: 58px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    background: rgb(54, 71, 43);
}
.footer_text{
    color: rgb(232, 232, 232);
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
}
.footer_text_center{
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
}
.footer_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.dff{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.link_social{
    cursor: pointer;
    outline: none;
    background-color: transparent;
    opacity: .8;
    transition: .3s ease-in-out;
    animation: none; /* Останавливаем анимацию при наведении */

}
.link_social:hover{
    border-radius: 10px;
    box-shadow: 0px 0px 19px 5px rgb(232, 232, 232);
    opacity: 1;
    animation: float 2s ease-in-out infinite; /* Добавляем анимацию */
}
@keyframes float {
    0%, 100% {
        transform: translateY(0); /* Начальное и конечное положение */
    }
    50% {
        transform: translateY(-5px); /* Движение вверх */
    }
}